---Description of a class
---@class ${name}: ${name}.slots, ${name}.methods

---@class ${name}.slots
---@field demoProp any Any property

---@class ${name}.methods
---@field setDemoProp fun(self: ${name}, newValue: any)

local M = Class{
  ...,
  slots = { '!demoProp' }
  ---@type ${name}
  index = {
    setDemoProp = function (self, newValue)
      self.demoProp = newValue
    end,
  }
}

---@param obj ${name}
function M.init(obj)
end

return M